In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

#Census API Key
api_key = 'AIzaSyC3kRD43v6mfQSaAoV8zQkjnavfRFkRtwg'
c = Census(api_key, year=2018)

In [2]:
census = pd.read_csv('Census_data.csv')
census.head()

,postalCode,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count
0,37863,41146,6903,44.4,19996,937,120
1,48204,24362,24524,37.6,15175,10287,1833
2,48235,31759,44753,39.2,17911,13683,3356
3,12304,49464,22833,39.4,27411,2730,861
4,12401,52784,35339,41.0,30045,5922,1556